<template>
  <div id="contact">
    <div class="form-group">
      <p>{{ contact.name }}</p>
    </div>
    <button
      id="topBtn"
      class="btn btn-outline-secondary"
      v-on:click="topFunction()"
      type="button"
    >
      Do góry
    </button>
  </div>
</template>

<script>
export default {
  name: "Footer",
  data() {
    return {
      contact: {
        name: "Piwo Krawcowe",
        email: "kontakt@piwokrawcowe.pl"
      }
    };
  },
  methods: {
    topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  }
};
</script>

<style scoped>
#contact {
  margin-bottom: 20px;
}

#topBtn:focus {
  box-shadow: 0 0;
}
</style>
