<template>
    <beers></beers>
</template>

<script>
import Beers from "@/components/beers/Beers";

export default {
  name: "Home",
  components: {
    Beers
  },
  data: function() {
    return {
      msg: "Beers!"
    };
  }
};
</script>
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>