<template>
  <div class="page col-lg-6">
    <form v-on:submit="login">
      <div class="form-group">
        <label for="user">Użytkownik</label>
        <input
          type="text"
          id="user"
          name="username"
          class="form-control"
          v-model="input.username"
          required="true"
        />
      </div>
      <div class="form-group">
        <label for="pass">Hasło</label>
        <input
          type="password"
          id="pass"
          name="password"
          class="form-control"
          v-model="input.password"
          required="true"
        />
      </div>
      <button class="btn btn-outline-success" type="submit">Zaloguj</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "Login",
  data: function() {
    return {
      input: {
        username: "",
        password: "",
        counter: 0
      }
    };
  },
  methods: {
    login: function(e) {
      e.preventDefault();
      if (this.input.username === "1" && this.input.password === "2") {
        this.$emit("authenticated", true);
        this.$router.replace("/");
      } else {
        alert("Błąd logowania...");
      }

      this.input.username = "";
      this.input.password = "";
    }
  }
};
</script>

<style scoped>
/* label {
    padding: 5px;
    color: #666666;
  }

  input {
    margin-top: 1rem;
  } */
</style>
