<template>
  <nav
    id="navbar"
    class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark"
  >
    <router-link class="navbar-brand" to="/">
      <img :src="faviconUrl" />
      Piwo Krawcowe
    </router-link>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav">
        <!-- <router-link class="nav-item nav-link" to="/" data-toggle="collapse" data-target=".navbar-collapse.show">Aktualności<span class="sr-only">(current)</span></router-link> -->

        <router-link
          class="nav-item nav-link"
          to="/beers"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          >Biblioteka piwa</router-link
        >

        <router-link
          class="nav-item nav-link"
          to="/monitor"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          >Monitor</router-link
        >
        <router-link
          class="nav-item nav-link"
          to="/contact"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          >Kontakt</router-link
        >
        <router-link
          class="nav-item nav-link"
          to="/beersedit"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          v-if="authenticated"
          >Edycja</router-link
        >
      </ul>
      <ul class="navbar-nav ml-auto">
        <router-link
          v-if="authenticated"
          class="nav-item nav-link"
          to="/login"
          v-on:click.native="logout()"
          replace
          >Wylogowanie</router-link
        >
        <router-link
          v-if="!authenticated"
          class="nav-item nav-link"
          to="/login"
          v-on:click.native="login()"
          replace
          >Zaloguj</router-link
        >
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navigation",
  props: ["authenticated"],
  data: function() {
    return {};
  },
  methods: {
    login() {
      this.$emit("login");
    },
    logout() {
      this.$emit("logout");
    }
  },
  computed: {
    faviconUrl() {
      return process.env.BASE_URL + "favicon.ico";
    }
  }
};
</script>

<style scoped>
#navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 575px) {
  #navbarContent {
    padding-top: 5px;
  }
}

.bg-dark {
  background-color: #666666 !important;
}

.navbar-nav > .router-link-exact-active {
  color: #ffffff !important;
  background-color: #777777;
  border-radius: 5px;
}
</style>
