<template>
  <div>
    <h1>Register</h1>
    <form id="registrationForm" v-on:submit="register">
      <input type="email" id="emailInputRegister" placeholder="Email" pattern=".*" required />
      <input
        type="password"
        id="passwordInputRegister"
        placeholder="Password"
        pattern=".*"
        required
      />
      <input
        type="password"
        id="password2InputRegister"
        placeholder="Confirm Password"
        pattern=".*"
        required
      />

      <input type="submit" value="Zarejestruj" />
    </form>
  </div>
</template>

<script>
const cognito = {
  region: process.env.VUE_APP_REGION,
  userPoolId: process.env.VUE_APP_USER_POOL_ID,
  userPoolClientId: process.env.VUE_APP_USER_POOL_CLIENT_ID
};

export default {
  name: "RegisterComponent",
  data: function() {
    return {};
  },
  methods: {
    register: function(e) {
      e.preventDefault();
      console.log("register");
      console.log(this);
    }
  }
};
</script>

<style scoped>
</style>