<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4>Usuwanie piwa</h4>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <p>Czy na pewno chcesz usunąć piwo {{ beer.title }}?</p>
              </div>
            </div>

            <div class="modal-footer">
              <button
                class="btn btn-outline-success modal-default-button"
                :disabled="isWorking"
                @click="deleteBeer"
              >
                Usuń
              </button>
              <button
                class="btn btn-outline-danger modal-default-button"
                :disabled="isWorking"
                @click="cancel"
              >
                Anuluj
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "BeerPopupDelete",
  props: ["beer"],
  data: function() {
    return {
      working: false
    };
  },
  computed: {
    isWorking() {
      return this.working;
    }
  },
  methods: {
    deleteBeer(event) {
      event.preventDefault();

      let self = this;
      self.working = true;

      this.axios
        .delete(process.env.VUE_APP_API_URL + "/beers/" + self.beer._id)
        .then(function(response) {
          console.log(response.data);
          self.$emit("deleted", self.beer);
        })
        .catch(function(error) {
          console.error(error);
        })
        .finally(function() {
          self.working = false;
        });
    },
    cancel(event) {
      event.preventDefault();
      this.$emit("cancelled");
    }
  }
};
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: table;
  /* transition: opacity .1s ease; */
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-content {
  padding: 10px;
}

.modal-header h4 {
  margin-top: 0;
  margin-bottom: 0px;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
