<template>
  <div class="row">
    <beer-popup
      v-if="showDetails"
      :mode="mode"
      :beer="beer"
      @added="addBeer"
      @updated="updateBeer"
      @cancelled="clear"
    ></beer-popup>

    <beer-popup-delete
      v-if="showDeletePopup"
      :beer="beer"
      @deleted="deleteBeer"
      @cancelled="clear"
    ></beer-popup-delete>

    <div class="col-12">
      <button
        type="button"
        class="btn btn-outline-success add-button"
        v-on:click="startBeerWizard"
      >
        Dodaj piwo
      </button>

      <beer-edit
        v-for="beer in beers"
        :key="beer.id"
        :beer="beer"
        @startEdit="startBeerWizard"
        @deleteBeer="deleteBeerPopup"
      ></beer-edit>
    </div>
  </div>
</template>

<script>
import BeerEdit from "@/components/beers/BeerEdit";
import BeerPopup from "@/components/beers/modal/BeerPopup";
import BeerPopupDelete from "@/components/beers/modal/BeerPopupDelete";

export default {
  name: "BeersEdit",
  components: {
    BeerEdit,
    BeerPopup,
    BeerPopupDelete
  },
  data() {
    return {
      showDetails: false,
      showDeletePopup: false,
      mode: "",
      beers: []
    };
  },
  computed: {},
  created: function() {
    this.axios
      .get(process.env.VUE_APP_API_URL + "/beers")
      .then(response => {
        this.beers = response.data;
      })
      .catch(function(error) {
        console.error(error);
      });
  },
  methods: {
    startBeerWizard(beer, mode) {
      if (mode === "edit") {
        this.beer = Object.assign({}, beer);
        this.mode = "Edit";
      } else {
        this.mode = "Add";
        this.beer = {};
      }
      this.showDetails = true;
    },
    clear() {
      this.showDetails = false;
      this.showDeletePopup = false;
      this.mode = "";
    },
    addBeer(beer) {
      this.beers.splice(0, 0, beer);
      this.clear();
    },
    updateBeer(beer) {
      for (let beerEl of this.beers) {
        if (beer._id === beerEl._id) {
          Object.assign(beerEl, beer);
        }
      }
      this.clear();
    },
    deleteBeerPopup(beer) {
      this.beer = beer;
      this.showDeletePopup = true;
    },
    deleteBeer(beer) {
      this.beers.splice(this.beers.indexOf(beer), 1);
      this.clear();
    }
  }
};
</script>

<style scoped>
.add-button {
  margin-bottom: 10px;
}
</style>
