<template>
  <div class="row">
    <div class="col-12">
      <button v-on:click="addBeer" class="btn btn-outline-success modal-default-button mb-3">Dodaj piwo</button>
      <beer v-for="beer in beers" :key="beer.id" :pbeer="beer" v-on:refresh="refresh"></beer>
    </div>
  </div>
</template>

<script>
import Beer from "./Beer";
import { RepositoryFactory } from "@/repositories/repositoryFactory";

const BeerRepository = RepositoryFactory.get("beers");

export default {
  name: "Beers",
  props: [],
  components: {
    Beer
  },
  data() {
    return {
      beers: []
    };
  },
  methods: {
    async getBeers() {
      const { data } = await BeerRepository.get();
      this.beers = data;
    },
    addBeer() {
      this.$router.push('/beer_add');
    },
    refresh() {
      getBeers();
    }
  },
  // created: function() {
  //   this.getBeers();
  // },
  watch: {
    $route: {
      immediate: true,
      handler: "getBeers"
    }
  }
};
</script>

<style scoped></style>
