<template>
  <div id="beer" class="beer-container">
    <div class="row">
      <div class="col-lg-3 col-4 beer-thumbnail-container">
        <div class="beer-thumbnail">
          <router-link :to="'/beers/' + beer._id">
            <img v-if="beer.image" :src="beer.image" />
            <img v-else src="@/assets/beer.jpg" />
          </router-link>
        </div>
      </div>

      <div class="col-lg-9 col-8 beer-text-left">
        <div class="row beer-header">
          <router-link :to="'/beers/' + beer._id">
            <div class="col-12 beer-title">
              <h4>{{ beer.title }}</h4>
            </div>
            <div class="col-12 beer-subtitle">
              <p>{{ beer.name }}{{ beer.beer_name }}</p>
            </div>
            <div class="col-12 beer-date">
              <p>{{ formattedDate }}</p>
            </div>
          </router-link>
        </div>

        <div class="row beer-main">
          <div class="col-12 beer-descr">
            <p>{{ beer.body }}{{ beer.description }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <button type="button" class="btn btn-outline-success mr-1" @click="editBeer">Edytuj</button>
            <button type="button" class="btn btn-outline-danger mr-1" @click="deleteBeer">Usuń</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { RepositoryFactory } from "@/repositories/repositoryFactory";

const BeerRepository = RepositoryFactory.get("beers");

export default {
  name: "Beer",
  props: ["pbeer"],
  data() {
    return {
      beer: {}
    };
  },
  computed: {
    formattedDate() {
      var date = new Date(this.beer.date);
      var day = date.getDate();
      var month = date.getMonth() + 1;
      if (month < 10) month = "0" + month;
      var year = date.getFullYear();

      return day + "." + month + "." + year;
    }
  },
  methods: {
    async getBeer() {
      if (this.pbeer != undefined) {
        this.beer = this.pbeer;
      } else {
        const { data } = await BeerRepository.getBeer(this.$route.params.id);
        this.beer = data;
      }
    },
    editBeer() {
      this.$router.push("/beer_edit/" + this.beer._id);
    },
    async deleteBeer() {
      const data = await BeerRepository.deleteBeer(this.beer);
      if (this.$route.params.id === undefined) {
        this.$router.go();
      } else {
        this.$router.push("/beers");
      }
    }
  },
  watch: {
    $route: {
      immediate: true,
      handler: "getBeer"
    }
  }
};
</script>

<style scoped>
.beer-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
}

.beer-header {
  width: 100%;
  overflow: hidden;
}

.beer-title {
  text-align: left;
}

.beer-subtitle {
  text-align: left;
  font-size: 14px;
}

.beer-date {
  text-align: left;
  font-size: 12px;
}

/* text styling */
a {
  color: rgb(44, 62, 80);
  text-decoration: none;
}

.beer-title h4 {
  margin-bottom: 0px;
}

.beer-subtitle p {
  margin-bottom: 0px;
}

.beer-descr p {
  line-height: 1.2;
  font-size: 14px;
  color: #777;
}

.beer-text-left {
  text-align: left;
}

.beer-footer {
  padding-bottom: 10px;
}

.beer-thumbnail {
  border: 1px solid #777;
  display: block;
}

.beer-thumbnail img {
  width: 100%;
}

@media (min-width: 992px) {
  .beer-thumbnail {
    width: 200px;
  }

  .beer-thumbnail-container {
    max-width: 235px;
  }
}

@media (max-width: 991px) {
  .beer-thumbnail-container {
  }
}
</style>
