<template>
  <div class="row">
    <div class="col-12">
      <form>
        <div class="modal-header">
          <h4>Edycja piwa</h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="title">Tytuł</label>
            <input
              name="title"
              id="title"
              class="form-control"
              v-model="beer.title"
              required="true"
              placeholder="Tytuł"
              :disabled="isWorking"
            />
          </div>
          <div class="form-group">
            <label for="name">Nazwa</label>
            <input
              name="name"
              id="name"
              class="form-control"
              v-model="beer.name"
              required="true"
              placeholder="Nazwa piwa"
              :disabled="isWorking"
            />
          </div>
          <label for="description">Opis</label>
          <textarea
            name="description"
            id="description"
            class="form-control"
            v-model="beer.description"
            placeholder="Opis piwa"
            :disabled="isWorking"
            rows="6"
          />
        </div>

        <div class="modal-footer">
          <button
            class="btn btn-outline-success modal-default-button"
            :disabled="isWorking"
            @click="save"
          >Zapisz</button>
          <button
            class="btn btn-outline-danger modal-default-button"
            :disabled="isWorking"
            @click="cancel"
          >Anuluj</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import PictureInput from "vue-picture-input";
import { RepositoryFactory } from "@/repositories/repositoryFactory";

const BeerRepository = RepositoryFactory.get("beers");

export default {
  name: "BeerEdit",
  props: ["pbeer"],
  components: {},
  data: function() {
    return {
      beer: {},
      working: false
    };
  },
  computed: {
    isWorking() {
      return this.working;
    }
  },
  methods: {
    async getBeer() {
      if (this.pbeer != undefined) {
        this.beer = this.pbeer;
      } else {
        const { data } = await BeerRepository.getBeer(this.$route.params.id);
        this.beer = data;
      }
    },
    async save(event) {
      event.preventDefault();

      this.working = true;
      const { data } = await BeerRepository.updateBeer(this.beer);
      this.working = false;

      window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/beers/' + data._id);
    },
    cancel(event) {
      event.preventDefault();
      
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/');
    }
  },
  watch: {
    $route: {
      immediate: true,
      handler: "getBeer"
    }
  }
};
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: table;
  /* transition: opacity .1s ease; */
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-content {
  padding: 10px;
}

.modal-header h4 {
  margin-top: 0;
  margin-bottom: 0px;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
