<template>
  <div id="app">
    <navigation
      :authenticated="authenticated"
      @logout="logout"
      @login="login"
    ></navigation>

    <div class="container">
      <!-- <p>{{ count }}</p> -->
      <router-view class="pk-view" @authenticated="setAuthenticated" />

      <footer>
        <hr />
        <footer></footer>
      </footer>
    </div>
  </div>
</template>

<script>
import Navigation from "./components/Navigation";
import Footer from "./components/Footer";

export default {
  components: {
    Navigation,
    Footer
  },
  data: function() {
    return {
      authenticated: false
    };
  },
  // computed: {
  //   count() {
  //     return this.$store.state.count;
  //   }
  // },
  methods: {
    setAuthenticated(status) {
      this.authenticated = status;
    },
    login() {
      this.$router.replace("/login");
    },
    logout() {
      this.setAuthenticated(false);
      this.$router.replace("/");
    }
  }
};
</script>

<style>
/* #app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #ffffff;
  min-height: 90%;
} */

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

footer {
  background-color: #ffffff;
}

.container {
  height: 100%;
}

.pk-view {
  min-height: 80%;
  margin: 15px 10px 0px;
} */
</style>
