<template>
  <div id="monitor">
    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-12 info-panel">
            <img src="@/assets/thermometer.png" />
            {{ currentTemperature }} &#8451;
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-lg-12">
            <table>
              <tr>
                <th>Status:</th>
                <td
                  v-bind:class="{ active: isactive, inactive: !isactive }"
                >{{ isactive ? "ONLINE" : "OFFLINE" }}</td>
              </tr>
              <tr>
                <th>Ostatnia aktualizacja:</th>
                <td v-bind:class="{ active: isactive, inactive: !isactive }">21:05 25.10.2018</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-8"></div>
    </div>
  </div>
</template>

<script>
"use strict";
export default {
  name: "Monitor",
  data() {
    return {
      isactive: true,
      temperatures: []
    };
  },
  computed: {
    currentTemperature: function() {
      if (this.temperatures.length > 0) return this.temperatures[0].temperature;
      return -99;
    }
  },
  methods: {
    getTemperatures() {
      let self = this;

      this.axios
        .get(process.env.VUE_APP_API_URL + "/temperatures")
        .then(response => {
          self.temperatures = response.data;
        })
        .catch(function(error) {
          console.error(error);
        });
    }
  },
  created: function() {
    this.getTemperatures();
  }
};
</script>

<style scoped>
.info-panel {
  font-size: 24px;
}

.active {
  color: green;
}

.inactive {
  color: red;
}

th {
  text-align: right;
}

td {
  text-align: left;
  padding-left: 10px;
}
</style>
